<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script src="index.js"></script>
  <title>
    Usman Musa - GitHub Repositories Portfolio
  </title>
</head>
<body onload="this_year()">
  <div class="page_head">
    <h1>GitHub Repositories Portfolio</h1>
    <p>This page URL ({{url}}) is not found</p>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <div class="wrapp">
    <div class="page_head">
      <h1>Page 404 Not Found</h1>
      <div>
        <a href="/">Back To Home</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p class="copy-right">&copy; <span id="this_year"></span> <a href="https://usmanmusa1920.github.io" style="color: black">Usman Musa</a></p>
  <br>
</body>
</html>
