<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script src="index.js"></script>
  <title>
    Usman Musa - GitHub Repositories Portfolio
  </title>
</head>
<body onload="this_year()">
  <div class="page_head">
    <h1>GitHub Repositories Portfolio</h1>
    <p>{{welcome}}</p>
    <p>{{d_1}}</p>
    <div>
      <a href="/">Home</a>
      &nbsp;
      <a href="/admin">Admin</a>
    </div>
  </div>
  <div class="apdn"></div>
  
  <!-- repos -->
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/3mtt-assessment" style="color: black">3mtt-assessment</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/backend" style="color: black">backend</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/Csq4" style="color: black">Csq4</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/CsqLang.github.io" style="color: black">CsqLang.github.io</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/dipense" style="color: black">dipense</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/Django-WebRtc" style="color: black">Django-WebRtc</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/dotfiles" style="color: black">dotfiles</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/flask-unity" style="color: black">flask-unity</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/kyaah" style="color: black">kyaah</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/pass-access" style="color: black">pass-access</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/quantum" style="color: black">quantum</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/rgbpy" style="color: black">rgbpy</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/sakyum" style="color: black">sakyum</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/usmanmusa1920.github.io" style="color: black">usmanmusa1920.github.io</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/web-dev" style="color: black">web-dev</a></h1>
  </div>
  <div class="wrapp">
    <h1>* <a href="https://github.com/usmanmusa1920/zazzone" style="color: black">zazzone</a></h1>
  </div>
 
  <br>
  <p class="copy-right">&copy; <span id="this_year"></span> <a href="https://usmanmusa1920.github.io" style="color: black">Usman Musa</a></p>
  <br>
</body>
</html>
